<!-- Police Department Page -->

<center>
  <h3> Police Department </h3>
  <img src="/images/icon.png" height="75px">
  <div class="row">
    <div class="col s6 offset-s3"
      style="background-color:  rgb(240, 232, 232); opacity: 1.0; height: 475px; padding: 20px 20px; border: 1px solid; overflow: scroll; overflow-x: hidden; overflow-y: scroll;">
      <form autocomplete="off">
        <div>
          <br>
          <label style="font-size:16px; float:left; color:black;">Enter Private Key</label>
          <input type="text" id="private4" required>
          <label style="font-size:16px; float:left; color:black;">Enter Vin Number</label>
          <input type="text" id="vin4" required>
          <label style="font-size:16px; float:left; color:black;">Enter Complaint Number</label>
          <input type="text" id="complaint4" required>
          <label style="font-size:16px; float:left; color:black;">Enter Date of Complaint</label>
          <input type="date" id="date4" required>
          <br>
        </div>
        <div>
          <br />
          <button type="submit" onclick="policeDepartment(event)" style="background-color: #0066ff"
            class="waves-effect waves-light btn-small">Submit</button>
          <br>
          <button type="reset" style="float: right; background-color: #ff0000"
            class="waves-effect waves-light btn-small">Clear</button>
        </div>
      </form>
    </div>
  </div>
</center>